a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
span {
    color:#2196F3;
}
* {
    margin: 0;
    padding: 0;
  }
  body {
     width: 1600px; 
    }

  /* HEADER */

.header {
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.nav-box {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    align-items: center;
    padding: 24px 0px 25px 0px ;
    margin-left: 215px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:#212121;
}

.nav-list {
    display: flex;
    margin-left: 94px;
   
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-link:hover, 
.nav-link:focus {
    color: #2196F3;
}

.contact-list {
    display: flex;
    margin: 0px 50px 0px 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.contact-item {
    /* margin-left: 50px; */
}
.contact-item:first-child {
    margin-left: 0px;
}
.contact-link {
    margin-left: 50px;
    color: #757575;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}
        /*END HEADER*/

        /* ORDER */

.order {
    width: 1600px;
    height: 600px;
    padding: 0 auto;
    background: #2F303A;
    align-items: center;
    justify-content: center;
}

.order-title {
    padding: 200px 452px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-order {
    margin-left: 700px;
    margin-bottom: 200px;
    padding: 10px 32px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
}

        /* END ORDER */

        /* BENEFITS */

.benefits { 
    padding: 94px 215px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.benefits-list {
    display: flex;
    justify-content:center;
}

.benefits-item {
   margin-right: 40px;
}

.benefits-item:last-child {
    margin-right: 0px;
}

.benefits-item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}

.benefits-content {
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

        /* END BENEFITS */

        /* TODO */

.todo { 

}

.todo-title {
    padding-bottom: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
   
}

.todo-list { 
    display: flex;
    justify-content: center;
}

.todo-item {
    margin-right: 30px;
    padding-bottom: 94px;
}
.todo-item:last-child {
    margin: 0;
}

.todo-img {
}

        /* END TODO */

        /* COMMAND */
.command {
    width: 1600px;
    background-color: #F5F4FA;
    padding-top: 94px;
}

.command-title {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.command-list {
    display: flex;
    justify-content: center;
}

.command-item {
}

.command-img {
}

.command-name {
}

.command-skill {
}

        /*END COMMAND*/

.footer {
}

.address {
}

.address-list {
}

.address-item {
}

.address-link {
}
